*{
    margin: 0;
    padding: 0;
}
.b-bg{
    background-color: #f6f8f9;
}
.logo{
    background-color: white;
    padding: 1rem;
}
.logo-text{
    font-weight: bold;
    font-size: 30px;
    vertical-align: 50%;
    margin: auto;
}